.onePost {
  /* background-color: rgb(112, 138, 120); */

  padding-bottom: 10px;
}
.higherImg {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoId {
  /* background-color: aqua; */
  width: 140px;
  height: 50px;
  /* margin-left: 10px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* height: 20px; */
  /* position: relative;
  top: 30px;
  left: 10px; */
}
.logoId img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.logoId .id {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}
img {
  width: 100%;
}
.wrapUnderPhoto {
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
}
.lcsSave {
  display: flex;
  justify-content: space-between;
  /* padding-left: 20px;
  padding-right: 20px;
  padding: 10px; */
}
.likeCommentShare {
  width: 120px;
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: space-between;
}
.likeCommentShare img {
  width: 30px;
}
.countLike {
  font-size: 20px;
}
