.topLI {
  background-color: rgb(250, 250, 250);
  width: 404px;
  padding: 10px;
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.left {
  font-size: 30px;
}
.right {
  width: 70px;
  display: flex;
  justify-content: space-between;
}
.right img {
  width: 30px;
  height: 30px;
}
header {
  transition: transform 0.5s ease-in-out;
}
.visible {
  transition: transform 0.5s ease-in-out;
  /* transform: translateY(0);  // ---  */
  transform: translateY(0);
  position: absolute;
  width: 414px;
  z-index: 2;
}

/* Стили для невидимого состояния */
.hidden {
  transition: transform 1s ease;
  transform: translateY(-100%);
  /* position: absolute; // ---
  width: 414px; //  --- */
}
