.wrapStories {
  /* background-color: rgb(176, 255, 152); */
  /* width: /; */

  /* overflow: hidden; */
  display: flex;
  justify-content: flex-start;
}
.wrapStory img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}
