.topLPr {
  background-color: rgb(255, 255, 255);
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
  position: absolute;
  width: 404px;
  z-index: 2;
}
.topLPrMyAcc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
}
.accId {
  font-size: 25px;
  font-weight: 600;
}
.topLPrMyAcc img {
  width: 30px;
  height: 30px;
}
.topLPr img {
  width: 30px;
  height: 30px;
}
.left {
  /* background-color: aqua; */
  /* width: 150px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.link {
  height: 20px;
}
.left div {
  margin-left: 20px;
  /* margin-bottom: 10px; */
  font-size: 25px;
  font-weight: 600;
}
.right {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
