.topLPh {
  background-color: rgb(216, 216, 216);
  height: 122px;
  border-radius: 40px 40px 0 0;
  /* position: absolute; */
  /* width: 414px; */
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.left {
  width: 160px;
}
.right {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.text {
  font-size: 20px;
  font-weight: 500;
}
.right img {
  height: 25px;
  width: auto;
}
